@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

video {
    /*Background video*/
    position: fixed;
    top: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(50%);
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #a953ffbb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /* Adicionado para centralizar verticalmente */
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #cccbcb;
}

.video-player {
    padding: 20px;
}

.video-list {
    width: 200px;
    border-left: 1px solid #cccbcb;
}

#video-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    color: #cccbcb;
    font-weight: bold;
}

#video-list li {
    padding: 10px;
    cursor: pointer;

}

#video-list li:hover,
#video-list li.active {
    background-color: #f9f9f9;
    color: #a9b120;
    border-radius: 20px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
    }

    .video-player, .video-list {
        width: 100%;
        padding: 10px;
    }

    .video-player iframe {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    .container {
        padding: 0;
        box-shadow: none;
        border: none;
    }

    .video-list {
        border-left: none;
        border-top: 1px solid #cccbcb;
        padding-top: 20px;
    }

    #video-list li {
        padding: 8px;
    }

    #video-list li:hover,
    #video-list li.active {
        background-color: #f0f0f0;
        color: #a953ffbb;
    }
}

@media (max-width: 480px) {
    .video-player iframe {
        height: 200px;
    }
}